{% extends "base.html" %}
{% block content %}

<label for="platenum">Insert plate number:</label><br>
<input type="text" id ="platenum">
<input type="submit" value="Submit" id="submitplatenum"><br>

<input id="escapeButton" type="submit" value="escape button click">


<script>
document.getElementById('submitplatenum').addEventListener('click', function(e) {

    const plateNumberForm = document.getElementById('platenum').value;
    e.preventDefault();
<!--    const host = '{{hostname}}/api/user-story';-->
    const host = 'http://localhost:8000/api/user-story'
    fetch(host, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({'Plate Number': plateNumberForm}),
        }).then(function (response) {
            if(response.ok){
                console.log("SUCCESS")
                return response
            } else {
                console.log("Not Successful")
            }
        }).then(function (response) {
            console.log(response)
            return response
        }).then(function (response) {
            return response.json();
        }).catch(function (error) {
            console.error(error);
        })
    });
</script>
{% endblock %}