{% extends "base.html" %}

{% block js %}
    <script type="text/javascript" src="../static/js/user_story.js"></script>
{% endblock %}
{% block content %}
    <label for="platenum">Insert plate number:</label><br>
    <input type="text" id ="platenum">
    <input type="submit" value="Submit" id="submitplatenum"><br>

    <label for="ticketid">Insert ticket ID:</label><br>
    <input type="text" id="ticketid">
    <input id="submitreturnticket" type="submit" value="return ticket"><br>

{% endblock %}